---
import Layout from "../layouts/Layout.astro";
import TitleHeader from "@/components/TitleHeader.astro";
---

<Layout title="Paissas">
  <main class="w-full h-full overflow-hidden">
    <TitleHeader
      title="Our Services"
      menu="services"
      img=`${import.meta.env.BASE_URL}/images/header-bg.webp`
    />
  </main>
</Layout>
