---
import Facebook from "@/components/icons/Facebook.astro";
import X from "@/components/icons/X.astro";
import Instagram from "@/components/icons/Instagram.astro";
---

<header class="w-full">
  <div class="bg-tertiary-100 hidden lg:flex justify-between items-center h-8">
    <div class="max-w-7xl mx-auto">
      <div class="flex items-center flex-wrap">
        <div class="flex items-center mr-7 gap-2">
          <a href="#" class=""
            ><Facebook
              className="size-4 fill-gray-600 hover:fill-secondary-300"
            /></a
          >
          <a href="#" class=""
            ><X className="size-4 fill-gray-600 hover:fill-secondary-300" /></a
          >
          <a href="#" class=""
            ><Instagram
              className="size-4 fill-gray-600 hover:fill-secondary-300"
            /></a
          >
        </div>
        <p class="text-gray-600 text-xs font-inter font-medium m-0">
          Welcome to Agriculture HTML Template
        </p>
      </div>
      <div class="flex items-center flex-wrap"></div>
    </div>
  </div>
  <nav class=""></nav>
</header>
