---
import Title from "@/components/Title.astro";
---

<section class="w-full bg-tertiary-50">
  <div
    class="w-full max-w-7xl mx-auto flex justify-center items-center px-[10%] md:px-10 py-5"
  >
    <Title title="closed projects" subtitle="latest projects list" />
  </div>
</section>
