---
import "@fontsource/inter/latin-300.css";
import "@fontsource/inter/latin-400.css";
import "@fontsource/inter/latin-500.css";
import "@fontsource/inter/latin-700.css";
import "@fontsource/handlee/latin-400.css";

import Menu from "@/components/Menu.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Paissas.co web site" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}/images/paissas_logo.svg`
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-inter bg-white overflow-x-hidden w-full">
    <Menu />
    <slot />
    <Footer />
  </body>
</html>

{
  /* <style is:global>
.dark #header-nav {
    animation: blurdark linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    z-index: 30;
  }

  @keyframes blurdark {
    to {
      background: rgba(29, 32, 37, 0.3);
      filter: drop-shadow(2px 4px 6px rgb(0 0 0 / 0.3));
      position: fixed;
    }
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    z-index: 30;
  }

  @keyframes blur {
    to {
      background: "#fff";
      filter: drop-shadow(2px 4px 6px rgb(0 0 0 / 0.3));
      position: fixed;
    }
  }
</style>
*/
}
